.logo {
    /* background-color: var(--bg-dark); */
    width: 25%;
}

.logo img {
    padding: 20px 15px;
    width: 70%;
}

/* @media(max-width: 576px) {
    aside.logo img {
        width: 350px;
    }
} */